Name: Bailey Griswold
NYU ID: bg1672
Class: Data Science for Quantitative Finance
Date: September 12, 2017

Assignment 1

**Part 1: Plotting data with FIPS codes**


A) Download the State-County FIPS code data from the census website:
● https://www2.census.gov/geo/docs/reference/codes/files/national_county.txt
● data specification is here: https://www.census.gov/geo/reference/codes/cou.html


B) And push it into a data object with, STATE, STATEFP, COUNTYFP, COUNTYNAME,
CLASSFP columns. Add a ‘FIPS’ column were FIPS=int(str(STATEFP)+str(COUNTYFP)).


C) Finally, add a ‘DUMMY’ column equal to 1 when STATE=’NY’ else 0.


D) Next, instantiate a US county map in bqplot by following a version of this example:
● https://github.com/bloomberg/bqplot/blob/master/bqplot-election.gif


E) Analogously to the above example, set the ‘color’ attribute of the map to be
color=dict(zi(data[‘FIPS’], data[‘DUMMY’])). Display the resulting map.

In [192]:
import pandas as pd
import numpy as np
from bqplot import pyplot as plt
from bqplot import *

In [212]:
!curl -O "https://www2.census.gov/geo/docs/reference/codes/files/national_county.txt"
fips = pd.read_csv('national_county.txt', header = None, dtype={1: str, 2:str} )
fips.head()

    0   1    2               3   4
0  AL  01  001  Autauga County  H1
1  AL  01  003  Baldwin County  H1
2  AL  01  005  Barbour County  H1
3  AL  01  007     Bibb County  H1
4  AL  01  009   Blount County  H1

In [213]:
fips.rename(columns={0:'STATE', 1:'STATEFP',\
                     2: 'COUNTYFP', 3:'COUNTYNAME', 4:'CLASSFP'}, inplace = True)
fips.head()

  STATE STATEFP COUNTYFP      COUNTYNAME CLASSFP
0    AL      01      001  Autauga County      H1
1    AL      01      003  Baldwin County      H1
2    AL      01      005  Barbour County      H1
3    AL      01      007     Bibb County      H1
4    AL      01      009   Blount County      H1

In [214]:
fips['FIPS'] = (fips['STATEFP'].astype(str) + fips['COUNTYFP'].astype(str)).astype(int)

In [215]:
fips.head()

  STATE STATEFP COUNTYFP      COUNTYNAME CLASSFP  FIPS
0    AL      01      001  Autauga County      H1  1001
1    AL      01      003  Baldwin County      H1  1003
2    AL      01      005  Barbour County      H1  1005
3    AL      01      007     Bibb County      H1  1007
4    AL      01      009   Blount County      H1  1009

In [216]:
fips['DUMMY'] = 0

In [217]:
fips.head()

  STATE STATEFP COUNTYFP      COUNTYNAME CLASSFP  FIPS  DUMMY
0    AL      01      001  Autauga County      H1  1001      0
1    AL      01      003  Baldwin County      H1  1003      0
2    AL      01      005  Barbour County      H1  1005      0
3    AL      01      007     Bibb County      H1  1007      0
4    AL      01      009   Blount County      H1  1009      0

In [218]:
fips['DUMMY'][fips.STATE == 'NY'] = 1

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [219]:
map_fig = plt.figure(title='Visualizing the 2016 Election Results', min_width=1300, min_height=800)
map_tt = Tooltip(fields=['name', 'color'], labels=['County Name'])
map_res = plt.geo(map_data=topo_load('map_data/USCountiesMap.json'), stroke_color='black',
                 colors={'default_color': 'Black'},
                  scales={'projection': AlbersUSA(),
                         'color': ColorScale(colors=['Red', 'Gray', 'DeepSkyBlue'])},
                  color=dict(zip(fips['FIPS'], fips['DUMMY'])), tooltip=map_tt)
map_fig

A Jupyter Widget

### Part 2: Analyzing the HMDA dataset at county level

1) Download the 2012 HMDA dataset. Load it into a pandas dataframe. Compute the following
statistics:  
a) How many loans in each ‘action_taken_name’ category are there?  
b) If you group by ‘agency_abbr’, how many loans in each ‘action_taken_name’ category
are there? 

2) Construct a dataframe indexed by ‘agency_abbr’ and ‘action_taken_name’ and save it into a ‘agency_action_stats.pkl’ file  

3) Construct a dataframe named df_statecnty_stats indexed by the ‘msamd’ (which is the same as the FIPS state-county code) and containing the following columns:  
a) median_hud_inc = county median of ‘hud_median_family_income’  
b) median_inc = median county income of loan applicants  
c) mean_inc = mean county income of loan applicants  
d) std_inc = std county income of loan applicants  
e) mean_loan_to_inc = county mean loan value to annual income  
f) ‘mean_income_over_hud’ = county mean of applicant income / hud_median_family_income  
g) ‘pct_denied_apps’ = percentage of denied loan applications  
h) ‘pct_rentals’ = can you compute the percent rental units in each county?  
i) ‘pct_minority’ = percent minority population  
j) ‘ln_pop’ = log of the county population  

4) Plot one of these columns on a US county map as in Part 1.

Extra credit question: Can you have the user select which column to plot on the county map via
a Dropdown ipywidget?

In [4]:
#!curl -O "http://files.consumerfinance.gov/hmda/hmda_lar-2012.csv.gz"
hdma_12 = pd.read_csv('hmda_lar-2012.csv.gz')

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (15,16,17,32,33,34) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
hdma_12.head()

,action_taken,action_taken_name,agency_code,agency_abbr,agency_name,applicant_ethnicity,applicant_ethnicity_name,applicant_income_000s,applicant_race_1,applicant_race_2,...,state_abbr,state_name,hud_median_family_income,loan_amount_000s,number_of_1_to_4_family_units,number_of_owner_occupied_units,minority_population,population,rate_spread,tract_to_msamd_income
0,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,173.0,5,NaN,...,IL,Illinois,77300.0,264,2153.0,1971.0,45.820000,7894.0,NaN,170.679993
1,1,Loan originated,5,NCUA,National Credit Union Administration,2,Not Hispanic or Latino,83.0,5,NaN,...,MI,Michigan,52100.0,116,1662.0,1271.0,3.340000,4315.0,NaN,102.760002
2,6,Loan purchased by the institution,9,CFPB,Consumer Financial Protection Bureau,4,Not applicable,70.0,7,NaN,...,AR,Arkansas,58200.0,159,1194.0,708.0,21.870001,4239.0,NaN,127.639999
3,6,Loan purchased by the institution,9,CFPB,Consumer Financial Protection Bureau,2,Not Hispanic or Latino,108.0,5,NaN,...,MN,Minnesota,83900.0,100,1927.0,1871.0,13.680000,4832.0,NaN,137.669998
4,1,Loan originated,3,FDIC,Federal Deposit Insurance Corporation,2,Not Hispanic or Latino,NaN,5,NaN,...,IN,Indiana,63800.0,267,1309.0,1160.0,4.680000,3612.0,NaN,139.100006

In [8]:
len(hdma_12)

18691551

# NEED TO GO BACK AND RERUN EVERTHING REPLACING HDMA_SMALL WITH HDMA_12 !!!!

In [295]:
hdma_small =

In [13]:
hdma_small.head()

,action_taken,action_taken_name,agency_code,agency_abbr,agency_name,applicant_ethnicity,applicant_ethnicity_name,applicant_income_000s,applicant_race_1,applicant_race_2,...,state_abbr,state_name,hud_median_family_income,loan_amount_000s,number_of_1_to_4_family_units,number_of_owner_occupied_units,minority_population,population,rate_spread,tract_to_msamd_income
0,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,173.0,5,NaN,...,IL,Illinois,77300.0,264,2153.0,1971.0,45.820000,7894.0,NaN,170.679993
1000,3,Application denied by financial institution,9,CFPB,Consumer Financial Protection Bureau,2,Not Hispanic or Latino,160.0,5,NaN,...,VT,Vermont,76700.0,100,1660.0,1408.0,3.530000,4081.0,NaN,113.629997
2000,1,Loan originated,7,HUD,Department of Housing and Urban Development,2,Not Hispanic or Latino,NaN,5,NaN,...,FL,Florida,50500.0,60,8903.0,6713.0,7.290000,14286.0,2.79,112.050003
3000,3,Application denied by financial institution,9,CFPB,Consumer Financial Protection Bureau,2,Not Hispanic or Latino,NaN,5,NaN,...,TX,Texas,56700.0,204,794.0,357.0,71.059998,2215.0,NaN,83.070000
4000,1,Loan originated,9,CFPB,Consumer Financial Protection Bureau,2,Not Hispanic or Latino,101.0,5,NaN,...,NC,North Carolina,53300.0,38,2127.0,1785.0,11.650000,5467.0,NaN,150.169998

In [14]:
len(hdma_small)

18692

In [22]:
#a) How many loans in each ‘action_taken_name’ category are there?


hdma_small.action_taken_name.value_counts()

Loan originated                                        9817
Loan purchased by the institution                      3148
Application denied by financial institution            2733
Application withdrawn by applicant                     1517
Application approved but not accepted                   696
File closed for incompleteness                          560
Preapproval request denied by financial institution     167
Preapproval request approved but not accepted            54
Name: action_taken_name, dtype: int64

In [34]:
#b) If you group by ‘agency_abbr’, how many loans in each ‘action_taken_name’ category are there?
counts = hdma_small.groupby('agency_abbr').action_taken_name.value_counts()
counts

agency_abbr  action_taken_name
CFPB         Loan originated                                        4118
             Loan purchased by the institution                      2640
             Application denied by financial institution            1552
             Application withdrawn by applicant                      477
             Application approved but not accepted                   287
             File closed for incompleteness                          242
             Preapproval request denied by financial institution      94
             Preapproval request approved but not accepted            36
FDIC         Loan originated                                        1031
             Application denied by financial institution             161
             Application withdrawn by applicant                      100
             Loan purchased by the institution                        58
             Application approved but not accepted                    42
             File closed for incompleteness                           29
             Preapproval request denied by financial institution      17
             Preapproval request approved but not accepted             2
FRS          Loan originated                                         329
             Application denied by financial institution              48
             Application withdrawn by applicant                       31
             Application approved but not accepted                    18
             Loan purchased by the institution                         8
             File closed for incompleteness                            3
             Preapproval request denied by financial institution       1
HUD          Loan originated                                        3004
             Application withdrawn by applicant                      717
             Application denied by financial institution             669
             Loan purchased by the institution                       350
             Application approved but not accepted                   275
             File closed for incompleteness                          222
             Preapproval request denied by financial institution       8
             Preapproval request approved but not accepted             6
NCUA         Loan originated                                         667
             Application denied by financial institution             177
             Application withdrawn by applicant                      113
             Application approved but not accepted                    54
             File closed for incompleteness                           51
             Preapproval request denied by financial institution      34
             Loan purchased by the institution                        26
             Preapproval request approved but not accepted             8
OCC          Loan originated                                         668
             Application denied by financial institution             126
             Application withdrawn by applicant                       79
             Loan purchased by the institution                        66
             Application approved but not accepted                    20
             File closed for incompleteness                           13
             Preapproval request denied by financial institution      13
             Preapproval request approved but not accepted             2
Name: action_taken_name, dtype: int64

In [35]:
#Construct a dataframe indexed by ‘agency_abbr’ and ‘action_taken_name’ and save it into a ‘agency_action_stats.pkl’ file
pd.DataFrame(counts).to_pickle('agency_action_stats.pkl')

3) Construct a dataframe named df_statecnty_stats indexed by the ‘msamd’ (which is the same as the FIPS state-county code) and containing the following columns:  
a) median_hud_inc = county median of ‘hud_median_family_income’  
b) median_inc = median county income of loan applicants  
c) mean_inc = mean county income of loan applicants  
d) std_inc = std county income of loan applicants  
e) mean_loan_to_inc = county mean loan value to annual income  
f) ‘mean_income_over_hud’ = county mean of applicant income / hud_median_family_income  
g) ‘pct_denied_apps’ = percentage of denied loan applications  
h) ‘pct_rentals’ = can you compute the percent rental units in each county?  
i) ‘pct_minority’ = percent minority population  
j) ‘ln_pop’ = log of the county population

In [37]:
# trash later
hdma_small.columns

Index(['action_taken', 'action_taken_name', 'agency_code', 'agency_abbr',
       'agency_name', 'applicant_ethnicity', 'applicant_ethnicity_name',
       'applicant_income_000s', 'applicant_race_1', 'applicant_race_2',
       'applicant_race_3', 'applicant_race_4', 'applicant_race_5',
       'applicant_race_name_1', 'applicant_race_name_2',
       'applicant_race_name_3', 'applicant_race_name_4',
       'applicant_race_name_5', 'applicant_sex', 'applicant_sex_name',
       'application_date_indicator', 'as_of_year', 'census_tract_number',
       'co_applicant_ethnicity', 'co_applicant_ethnicity_name',
       'co_applicant_race_1', 'co_applicant_race_2', 'co_applicant_race_3',
       'co_applicant_race_4', 'co_applicant_race_5',
       'co_applicant_race_name_1', 'co_applicant_race_name_2',
       'co_applicant_race_name_3', 'co_applicant_race_name_4',
       'co_applicant_race_name_5', 'co_applicant_sex', 'co_applicant_sex_name',
       'county_code', 'county_name', 'denial_reason_1', 'denial_reason_2',
       'denial_reason_3', 'denial_reason_name_1', 'denial_reason_name_2',
       'denial_reason_name_3', 'edit_status', 'edit_status_name',
       'hoepa_status', 'hoepa_status_name', 'lien_status', 'lien_status_name',
       'loan_purpose', 'loan_purpose_name', 'loan_type', 'loan_type_name',
       'msamd', 'msamd_name', 'owner_occupancy', 'owner_occupancy_name',
       'preapproval', 'preapproval_name', 'property_type',
       'property_type_name', 'purchaser_type', 'purchaser_type_name',
       'respondent_id', 'sequence_number', 'state_code', 'state_abbr',
       'state_name', 'hud_median_family_income', 'loan_amount_000s',
       'number_of_1_to_4_family_units', 'number_of_owner_occupied_units',
       'minority_population', 'population', 'rate_spread',
       'tract_to_msamd_income'],
      dtype='object')

In [299]:
hdma_small['county_code'] = hdma_small['county_code'].fillna(0.0).astype(int)

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [298]:
hdma_small.state_code

0           17.0
1000        50.0
2000        12.0
3000        48.0
4000        37.0
5000        29.0
6000        48.0
7000        37.0
8000         8.0
9000        18.0
10000       50.0
11000       13.0
12000       22.0
13000       36.0
14000       50.0
15000       32.0
16000       18.0
17000       48.0
18000       37.0
19000       48.0
20000       53.0
21000       24.0
22000       13.0
23000       42.0
24000        6.0
25000       12.0
26000       49.0
27000        9.0
28000        6.0
29000       37.0
            ...
18662000    39.0
18663000    39.0
18664000    27.0
18665000    41.0
18666000    47.0
18667000    25.0
18668000     6.0
18669000     8.0
18670000    26.0
18671000    42.0
18672000    36.0
18673000    13.0
18674000    41.0
18675000    37.0
18676000    48.0
18677000    42.0
18678000    25.0
18679000    29.0
18680000    36.0
18681000     9.0
18682000    48.0
18683000     6.0
18684000     6.0
18685000    54.0
18686000    27.0
18687000    17.0
18688000    12.0
18689000    18.0
18690000    48.0
18691000    51.0
Name: state_code, dtype: float64

In [300]:
hdma_small['state_code'] = hdma_small['county_code'].fillna(0.0).astype(int)

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [306]:
hdma_small.loc[6000]

action_taken                                                                      1
action_taken_name                                                   Loan originated
agency_code                                                                       7
agency_abbr                                                                     HUD
agency_name                             Department of Housing and Urban Development
applicant_ethnicity                                                               2
applicant_ethnicity_name                                     Not Hispanic or Latino
applicant_income_000s                                                            98
applicant_race_1                                                                  2
applicant_race_2                                                                NaN
applicant_race_3                                                                NaN
applicant_race_4                                                                NaN
applicant_race_5                                                                NaN
applicant_race_name_1                                                         Asian
applicant_race_name_2                                                           NaN
applicant_race_name_3                                                           NaN
applicant_race_name_4                                                           NaN
applicant_race_name_5                                                           NaN
applicant_sex                                                                     2
applicant_sex_name                                                           Female
application_date_indicator                                                        0
as_of_year                                                                     2012
census_tract_number                                                          205.09
co_applicant_ethnicity                                                            2
co_applicant_ethnicity_name                                  Not Hispanic or Latino
co_applicant_race_1                                                               2
co_applicant_race_2                                                             NaN
co_applicant_race_3                                                             NaN
co_applicant_race_4                                                             NaN
co_applicant_race_5                                                             NaN
                                                        ...
hoepa_status_name                                                  Not a HOEPA loan
lien_status                                                                       1
lien_status_name                                            Secured by a first lien
loan_purpose                                                                      3
loan_purpose_name                                                       Refinancing
loan_type                                                                         1
loan_type_name                                                         Conventional
msamd                                                                         12420
msamd_name                                      Austin, Round Rock, San Marcos - TX
owner_occupancy                                                                   1
owner_occupancy_name                         Owner-occupied as a principal dwelling
preapproval                                                                       3
preapproval_name                                                     Not applicable
property_type                                                                     1
property_type_name                One-to-four family dwelling (other than manufa...
purchaser_type                                                                    6
purchaser_type_name               Commercial bank, savings bank or savings assoc...
respondent_id                                                            54-1994393
sequence_number                                                                1825
state_code                                                                      491
state_abbr                                                                       TX
state_name                                                                    Texas
hud_median_family_income                                                      75900
loan_amount_000s                                                                189
number_of_1_to_4_family_units                                                  2169
number_of_owner_occupied_units                                                 1937
minority_population                                                           35.04
population                                                                     6921
rate_spread                                                                     NaN
tract_to_msamd_income                                                        155.41
Name: 6000, dtype: object

In [305]:
hdma_small['state_code'].apply('{:0>2}'.format)

0           197
1000         07
2000         83
3000        469
4000         35
5000        183
6000        491
7000         23
8000         37
9000         03
10000        07
11000        57
12000        19
13000       103
14000        07
15000        03
16000        03
17000       439
18000        23
19000       439
20000        33
21000        37
22000        67
23000       121
24000        41
25000        83
26000        49
27000        13
28000        65
29000        03
           ...
18662000    113
18663000     49
18664000     37
18665000     67
18666000    157
18667000     05
18668000     87
18669000     41
18670000     49
18671000     77
18672000     59
18673000     67
18674000     35
18675000    179
18676000     85
18677000     29
18678000     09
18679000    127
18680000     55
18681000     03
18682000     29
18683000     65
18684000     25
18685000     67
18686000     03
18687000     43
18688000     69
18689000     73
18690000    167
18691000    199
Name: state_code, dtype: object

In [296]:
#hdma_small['fips'] = 
(hdma_small['state_code'].astype(str) + hdma_small['county_code'].astype(str)).astype(int)
#hdma_small.state_code
#hdma_small[['state_code', 'state_name']]

ValueError: invalid literal for int() with base 10: '17.0197.0'

In [247]:
#median_hud_inc = county median of ‘hud_median_family_income’
median_hud_inc = hdma_small.groupby('msamd').median().hud_median_family_income

In [264]:
hdma_small.groupby('msamd').median().applicant_income_000s

msamd
10180.0     88.5
10380.0    119.0
10420.0     72.0
10500.0     81.5
10580.0     83.0
10740.0     64.0
10780.0    118.5
10900.0     73.0
11020.0     95.0
11100.0     70.0
11180.0     70.0
11260.0     96.0
11300.0    166.5
11340.0     46.0
11460.0    104.0
11500.0     49.0
11540.0     72.5
11700.0     66.0
12020.0    127.0
12060.0     82.5
12100.0    120.0
12220.0     63.0
12260.0     67.0
12420.0     90.0
12540.0     76.5
12580.0     97.0
12620.0     55.5
12700.0    119.5
12940.0     69.0
12980.0     66.0
           ...
46540.0     35.5
46660.0     24.0
46700.0     74.0
47020.0      NaN
47220.0     48.0
47260.0     69.5
47300.0     53.0
47380.0     56.0
47580.0     46.0
47644.0     79.0
47894.0    116.0
47940.0     80.5
48140.0     48.0
48300.0     84.0
48424.0     77.5
48540.0     62.0
48620.0     60.0
48660.0     83.5
48700.0     63.0
48864.0     64.5
48900.0     82.0
49020.0     56.0
49180.0     55.0
49340.0     89.5
49420.0     34.0
49500.0     26.0
49620.0     66.0
49660.0     45.0
49700.0     76.0
49740.0     42.0
Name: applicant_income_000s, dtype: float64

In [265]:
#b) median_inc = median county income of loan applicants

median_inc = hdma_small.groupby('msamd').median().applicant_income_000s

#c) mean_inc = mean county income of loan applicants

mean_inc = hdma_small.groupby('msamd').mean().applicant_income_000s

#d) std_inc = std county income of loan applicants

std_inc = hdma_small.groupby('msamd').std().applicant_income_000s

In [249]:
#e) mean_loan_to_inc = county mean loan value to annual income

hdma_small['loan_to_inc'] = hdma_small.loan_amount_000s / hdma_small.applicant_income_000s

mean_loan_to_inc = hdma_small.groupby('msamd').mean().loan_to_inc

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [266]:
#‘mean_income_over_hud’ = county mean of applicant income / hud_median_family_income

hdma_small['income_over_hud'] = hdma_small.applicant_income_000s / hdma_small.hud_median_family_income

mean_income_over_hud = hdma_small.groupby('msamd').mean().income_over_hud

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [267]:
#g) ‘pct_denied_apps’ = percentage of denied loan applications

denied_loans = hdma_small.groupby('action_taken_name').size()["Application denied by financial institution"]

pct_denied_apps = denied_loans/len(hdma_small)*100

In [268]:
# ‘pct_rentals’ = can you compute the percent rental units in each county?
grouped = hdma_small.groupby(['msamd', 'census_tract_number'], as_index=False)
tracts = grouped.aggregate(np.mean)
tracts_summed = tracts.groupby('msamd').sum()

units = tracts_summed.number_of_1_to_4_family_units
units_owned = tracts_summed.number_of_owner_occupied_units

pct_rentals = ((units - units_owned) / units) * 100

In [269]:
#i) ‘pct_minority’ = percent minority population
hdma_small['minority_pop_size'] = (hdma_small.minority_population/100) * hdma_small.population

grouped = hdma_small.groupby(['msamd', 'census_tract_number'], as_index=False)
tracts = grouped.aggregate(np.mean)
tracts_summed = tracts.groupby('msamd').sum()

pct_minority = (tracts_summed.minority_pop_size / tracts_summed.population)*100

/Users/baileygriswold/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [270]:
df_statecnty_stats = pd.DataFrame(median_hud_inc)

In [271]:
df_statecnty_stats['median_inc'] = median_inc

In [272]:
df_statecnty_stats['mean_inc'] = mean_inc

In [273]:
df_statecnty_stats['std_inc'] = std_inc
df_statecnty_stats['mean_loan_to_inc'] = mean_loan_to_inc
df_statecnty_stats['mean_income_over_hud'] = mean_income_over_hud
df_statecnty_stats['pct_denied_apps'] = pct_denied_apps
df_statecnty_stats['pct_rentals'] = pct_rentals
df_statecnty_stats['pct_minority'] = pct_minority

df_statecnty_stats

,hud_median_family_income,median_inc,mean_inc,std_inc,mean_loan_to_inc,mean_income_over_hud,pct_denied_apps,pct_rentals,pct_minority
msamd,,,,,,,,,
10180.0,52900.0,88.5,88.500000,20.506097,1.158423,0.001673,14.621228,28.400994,19.662451
10380.0,16600.0,119.0,110.200000,80.862229,1.157336,0.006639,14.621228,40.691458,98.921266
10420.0,66500.0,72.0,82.838710,48.747716,1.897519,0.001246,14.621228,19.649796,11.968323
10500.0,49400.0,81.5,82.250000,29.881711,2.063765,0.001665,14.621228,26.099862,22.874824
10580.0,78100.0,83.0,95.068182,63.521246,2.085460,0.001217,14.621228,24.502761,12.073518
10740.0,61900.0,64.0,82.882353,57.968476,3.394150,0.001339,14.621228,25.018652,52.440586
10780.0,52400.0,118.5,270.333333,421.120252,1.221641,0.005159,14.621228,31.147279,37.154751
10900.0,73300.0,73.0,80.106383,44.816648,2.576662,0.001093,14.621228,21.173625,23.652639
11020.0,55600.0,95.0,95.000000,83.438600,0.666667,0.001709,14.621228,21.127098,2.413294
11100.0,58900.0,70.0,73.285714,50.976185,2.448581,0.001244,14.621228,35.837307,32.546687
11180.0,78500.0,70.0,75.285714,42.208665,2.559896,0.000959,14.621228,18.262865,12.017537
11260.0,85200.0,96.0,99.555556,46.144700,2.395223,0.001168,14.621228,20.532872,28.594797
11300.0,57800.0,166.5,166.500000,159.099026,1.228196,0.002881,14.621228,19.774011,14.573858
11340.0,56100.0,46.0,45.750000,31.773941,1.953734,0.000816,14.621228,24.925084,26.221480
11460.0,87400.0,104.0,117.095238,69.177962,2.030622,0.001340,14.621228,18.797386,22.562942
11500.0,52200.0,49.0,46.666667,32.562760,2.240101,0.000894,14.621228,23.100713,19.283965
11540.0,73600.0,72.5,101.650000,100.269781,1.232647,0.001381,14.621228,20.899588,11.352676
11700.0,58400.0,66.0,121.812500,175.016578,2.832568,0.002086,14.621228,34.532065,10.852060
12020.0,59400.0,127.0,131.500000,43.729853,1.182756,0.002214,14.621228,35.310099,23.575173
12060.0,69300.0,82.5,98.678363,74.188170,2.176244,0.001424,14.621228,21.395517,42.536408
12100.0,72100.0,120.0,194.157895,232.146090,1.645821,0.002693,14.621228,28.779163,36.446030
12220.0,61400.0,63.0,71.066667,33.205995,2.490534,0.001157,14.621228,26.654526,23.623809
12260.0,57900.0,67.0,83.478261,63.240428,2.224505,0.001442,14.621228,27.400696,35.167366
12420.0,75900.0,90.0,110.913386,84.912001,2.130080,0.001461,14.621228,20.940149,40.070515
12540.0,54100.0,76.5,85.205882,50.448161,2.292745,0.001575,14.621228,32.862019,49.957522
12580.0,85600.0,97.0,108.479730,65.876350,2.580068,0.001267,14.621228,14.422589,31.725025
12620.0,56300.0,55.5,55.500000,57.275649,1.552083,0.000986,14.621228,16.267682,4.677854
12700.0,80000.0,119.5,191.777778,239.397829,2.071189,0.002397,14.621228,43.100079,8.653920
12940.0,62900.0,69.0,119.425926,178.036418,2.484071,0.001899,14.621228,23.322861,28.123384
12980.0,49500.0,66.0,104.333333,95.206355,1.679519,0.002108,14.621228,13.132820,9.279181
...,...,...,...,...,...,...,...,...,...
46540.0,58800.0,35.5,72.000000,62.073689,1.671724,0.001224,14.621228,26.720470,6.963427
46660.0,50900.0,24.0,28.750000,16.800298,3.685791,0.000565,14.621228,36.554898,44.456853
46700.0,82600.0,74.0,111.764706,82.425367,2.525595,0.001353,14.621228,24.649985,53.270336
47020.0,56700.0,NaN,NaN,NaN,NaN,NaN,14.621228,30.009891,48.935229
47220.0,63300.0,48.0,48.000000,19.798990,2.629032,0.000758,14.621228,41.809792,77.566571
47260.0,70900.0,69.5,101.313953,118.613486,2.490308,0.001429,14.621228,25.062975,40.000989
47300.0,49500.0,53.0,61.866667,34.198719,3.066325,0.001250,14.621228,40.253661,60.618006
47380.0,54700.0,56.0,88.000000,75.086617,1.700505,0.001609,14.621228,24.286940,23.149263
47580.0,71400.0,46.0,44.000000,7.211103,3.140209,0.000616,14.621228,34.373492,35.242433
47644.0,74800.0,79.0,101.424581,92.237229,2.079163,0.001356,14.621228,12.612772,14.978052
47894.0,105700.0,116.0,135.357143,89.838638,2.769240,0.001281,14.621228,13.788329,46.899195
47940.0,62900.0,80.5,113.500000,112.986971,1.712946,0.001804,14.621228,15.246015,7.738155
48140.0,69200.0,48.0,55.875000,31.096336,2.486893,0.000807,14.621228,17.625399,6.538126
48300.0,58700.0,84.0,64.333333,36.692415,4.938722,0.001096,14.621228,26.180070,34.846878
48424.0,64100.0,77.5,116.983871,98.033198,2.174202,0.001825,14.621228,15.896566,35.095398
48540.0,51100.0,62.0,84.250000,68.158516,1.393005,0.001649,14.621228,27.420752,4.066246
48620.0,65000.0,60.0,80.592593,62.161241,1.671202,0.001240,14.621228,19.712367,19.704555
48660.0,55800.0,83.5,87.500000,31.564748,1.302662,0.001568,14.621228,23.241522,21.693370
48700.0,54800.0,63.0,60.333333,27.631504,1.543017,0.001101,14.621228,34.235808,5.936011
48864.0,81900.0,64.5,81.478261,50.590618,2.814012,0.000995,14.621228,14.440208,28.401088
48900.0,60800.0,82.0,117.777778,119.428427,2.422873,0.001937,14.621228,43.905015,18.269355
49020.0,65300.0,56.0,67.750000,38.741666,2.672669,0.001038,14.621228,42.159656,9.488943
49180.0,62000.0,55.0,88.318182,77.087079,2.186692,0.001424,14.621228,26.635927,28.594097
49340.0,83600.0,89.5,98.350000,45.911051,2.200898,0.001176,14.621228,15.895665,13.192609
49420.0,51200.0,34.0,48.333333,25.696952,2.701289,0.000944,14.621228,21.325648,27.264227
49500.0,17000.0,26.0,26.000000,0.000000,3.673077,0.001529,14.621228,46.713380,99.458290
49620.0,70300.0,66.0,81.200000,47.354162,2.636374,0.001155,14.621228,16.279316,8.351607
49660.0,55700.0,45.0,61.103448,43.380661,1.943724,0.001097,14.621228,20.079195,5.760386
49700.0,59400.0,76.0,154.833333,155.698962,2.386570,0.002607,14.621228,34.749695,41.276121
49740.0,44500.0,42.0,57.769231,37.850922,2.614150,0.001298,14.621228,33.823707,63.883819

In [276]:
df_statecnty_stats.index = df_statecnty_stats.index.astype(int)

In [279]:
df_statecnty_stats

,hud_median_family_income,median_inc,mean_inc,std_inc,mean_loan_to_inc,mean_income_over_hud,pct_denied_apps,pct_rentals,pct_minority
msamd,,,,,,,,,
10180,52900.0,88.5,88.500000,20.506097,1.158423,0.001673,14.621228,28.400994,19.662451
10380,16600.0,119.0,110.200000,80.862229,1.157336,0.006639,14.621228,40.691458,98.921266
10420,66500.0,72.0,82.838710,48.747716,1.897519,0.001246,14.621228,19.649796,11.968323
10500,49400.0,81.5,82.250000,29.881711,2.063765,0.001665,14.621228,26.099862,22.874824
10580,78100.0,83.0,95.068182,63.521246,2.085460,0.001217,14.621228,24.502761,12.073518
10740,61900.0,64.0,82.882353,57.968476,3.394150,0.001339,14.621228,25.018652,52.440586
10780,52400.0,118.5,270.333333,421.120252,1.221641,0.005159,14.621228,31.147279,37.154751
10900,73300.0,73.0,80.106383,44.816648,2.576662,0.001093,14.621228,21.173625,23.652639
11020,55600.0,95.0,95.000000,83.438600,0.666667,0.001709,14.621228,21.127098,2.413294
11100,58900.0,70.0,73.285714,50.976185,2.448581,0.001244,14.621228,35.837307,32.546687
11180,78500.0,70.0,75.285714,42.208665,2.559896,0.000959,14.621228,18.262865,12.017537
11260,85200.0,96.0,99.555556,46.144700,2.395223,0.001168,14.621228,20.532872,28.594797
11300,57800.0,166.5,166.500000,159.099026,1.228196,0.002881,14.621228,19.774011,14.573858
11340,56100.0,46.0,45.750000,31.773941,1.953734,0.000816,14.621228,24.925084,26.221480
11460,87400.0,104.0,117.095238,69.177962,2.030622,0.001340,14.621228,18.797386,22.562942
11500,52200.0,49.0,46.666667,32.562760,2.240101,0.000894,14.621228,23.100713,19.283965
11540,73600.0,72.5,101.650000,100.269781,1.232647,0.001381,14.621228,20.899588,11.352676
11700,58400.0,66.0,121.812500,175.016578,2.832568,0.002086,14.621228,34.532065,10.852060
12020,59400.0,127.0,131.500000,43.729853,1.182756,0.002214,14.621228,35.310099,23.575173
12060,69300.0,82.5,98.678363,74.188170,2.176244,0.001424,14.621228,21.395517,42.536408
12100,72100.0,120.0,194.157895,232.146090,1.645821,0.002693,14.621228,28.779163,36.446030
12220,61400.0,63.0,71.066667,33.205995,2.490534,0.001157,14.621228,26.654526,23.623809
12260,57900.0,67.0,83.478261,63.240428,2.224505,0.001442,14.621228,27.400696,35.167366
12420,75900.0,90.0,110.913386,84.912001,2.130080,0.001461,14.621228,20.940149,40.070515
12540,54100.0,76.5,85.205882,50.448161,2.292745,0.001575,14.621228,32.862019,49.957522
12580,85600.0,97.0,108.479730,65.876350,2.580068,0.001267,14.621228,14.422589,31.725025
12620,56300.0,55.5,55.500000,57.275649,1.552083,0.000986,14.621228,16.267682,4.677854
12700,80000.0,119.5,191.777778,239.397829,2.071189,0.002397,14.621228,43.100079,8.653920
12940,62900.0,69.0,119.425926,178.036418,2.484071,0.001899,14.621228,23.322861,28.123384
12980,49500.0,66.0,104.333333,95.206355,1.679519,0.002108,14.621228,13.132820,9.279181
...,...,...,...,...,...,...,...,...,...
46540,58800.0,35.5,72.000000,62.073689,1.671724,0.001224,14.621228,26.720470,6.963427
46660,50900.0,24.0,28.750000,16.800298,3.685791,0.000565,14.621228,36.554898,44.456853
46700,82600.0,74.0,111.764706,82.425367,2.525595,0.001353,14.621228,24.649985,53.270336
47020,56700.0,NaN,NaN,NaN,NaN,NaN,14.621228,30.009891,48.935229
47220,63300.0,48.0,48.000000,19.798990,2.629032,0.000758,14.621228,41.809792,77.566571
47260,70900.0,69.5,101.313953,118.613486,2.490308,0.001429,14.621228,25.062975,40.000989
47300,49500.0,53.0,61.866667,34.198719,3.066325,0.001250,14.621228,40.253661,60.618006
47380,54700.0,56.0,88.000000,75.086617,1.700505,0.001609,14.621228,24.286940,23.149263
47580,71400.0,46.0,44.000000,7.211103,3.140209,0.000616,14.621228,34.373492,35.242433
47644,74800.0,79.0,101.424581,92.237229,2.079163,0.001356,14.621228,12.612772,14.978052
47894,105700.0,116.0,135.357143,89.838638,2.769240,0.001281,14.621228,13.788329,46.899195
47940,62900.0,80.5,113.500000,112.986971,1.712946,0.001804,14.621228,15.246015,7.738155
48140,69200.0,48.0,55.875000,31.096336,2.486893,0.000807,14.621228,17.625399,6.538126
48300,58700.0,84.0,64.333333,36.692415,4.938722,0.001096,14.621228,26.180070,34.846878
48424,64100.0,77.5,116.983871,98.033198,2.174202,0.001825,14.621228,15.896566,35.095398
48540,51100.0,62.0,84.250000,68.158516,1.393005,0.001649,14.621228,27.420752,4.066246
48620,65000.0,60.0,80.592593,62.161241,1.671202,0.001240,14.621228,19.712367,19.704555
48660,55800.0,83.5,87.500000,31.564748,1.302662,0.001568,14.621228,23.241522,21.693370
48700,54800.0,63.0,60.333333,27.631504,1.543017,0.001101,14.621228,34.235808,5.936011
48864,81900.0,64.5,81.478261,50.590618,2.814012,0.000995,14.621228,14.440208,28.401088
48900,60800.0,82.0,117.777778,119.428427,2.422873,0.001937,14.621228,43.905015,18.269355
49020,65300.0,56.0,67.750000,38.741666,2.672669,0.001038,14.621228,42.159656,9.488943
49180,62000.0,55.0,88.318182,77.087079,2.186692,0.001424,14.621228,26.635927,28.594097
49340,83600.0,89.5,98.350000,45.911051,2.200898,0.001176,14.621228,15.895665,13.192609
49420,51200.0,34.0,48.333333,25.696952,2.701289,0.000944,14.621228,21.325648,27.264227
49500,17000.0,26.0,26.000000,0.000000,3.673077,0.001529,14.621228,46.713380,99.458290
49620,70300.0,66.0,81.200000,47.354162,2.636374,0.001155,14.621228,16.279316,8.351607
49660,55700.0,45.0,61.103448,43.380661,1.943724,0.001097,14.621228,20.079195,5.760386
49700,59400.0,76.0,154.833333,155.698962,2.386570,0.002607,14.621228,34.749695,41.276121
49740,44500.0,42.0,57.769231,37.850922,2.614150,0.001298,14.621228,33.823707,63.883819

In [278]:
#4) Plot one of these columns on a US county map as in Part 1.
map_fig = plt.figure(title='Visualizing Median Income by County in 2012', min_width=1300, min_height=800)
map_tt = Tooltip(fields=['name', 'color'], labels=['County Name'])
map_res = plt.geo(map_data=topo_load('map_data/USCountiesMap.json'), stroke_color='black',
                 colors={'default_color': 'Black'},
                  scales={'projection': AlbersUSA(),
                         'color': ColorScale(colors=['Red', 'Gray', 'DeepSkyBlue'])},
                  color=dict(zip(df_statecnty_stats.index, df_statecnty_stats['median_inc'])), tooltip=map_tt)
map_fig

A Jupyter Widget