# Data Gathering Project
Group Member Names:  

BQPlotting

### Part 1:  
What are the top 200 most reviewed items in each category?  
### Part 2:  
1. Use BQPlot MarketMap widget and have a grid map of the top 200 most reviewed items at a given point of time.  
2. Hovering over each cell on the map shows a plot of the number of reviews as a function of time for that item.   
3. Using either a slider or using an IndexSelector on top of the chart of the total number of reviews, have the user dynamically select the calendar date at which the MarketMap shows the top 200 most reviewed items. In general you expect the list of top 200 to be different as the calendar date changes.

In [1]:
# import packages
import os
import pandas as pd

In [ ]:
#read all dataframe pickle files

#All data frame list and pickle files name list
variableNameList = ['df_reviews_Beauty', 
               'df_products_Beauty', 
               'df_products_also_bought_Beauty', 
               'df_products_also_viewed_Beauty', 
               'df_products_bought_together_Beauty',
               'df_products_sales_rank_Beauty',
               'df_products_categories_Beauty',
               'df_reviews_Cell', 
               'df_products_Cell', 
               'df_products_also_bought_Cell', 
               'df_products_also_viewed_Cell', 
               'df_products_bought_together_Cell',
               'df_products_sales_rank_Cell',
               'df_products_categories_Cell',
               'df_reviews_Elec', 
               'df_products_Elec', 
               'df_products_also_bought_Elec', 
               'df_products_also_viewed_Elec', 
               'df_products_bought_together_Elec',
               'df_products_sales_rank_Elec',
               'df_products_categories_Elec']

fileNameList = [ x+ '.pkl' for x in variableNameList]

#read pickles into all variable names for future use 
import os
import pandas as pd 

os.chdir('FolderPath')

for i in range(0, len(variableNameList)):
	globals()[variableNameList[i]] = pd.read_pickle(fileNameList[i])

In [2]:
df = pd.read_pickle('df_reviews_Beauty.pkl')

In [3]:
df.head()

,timestamp,productid,reviewerid,rating,review_text,review_summary
0,2014-01-30,7806397051,A1YJEY40YUW4SE,1.0,Very oily and creamy. Not at all what I expect...,Don't waste your money
1,2014-04-18,7806397051,A60XNB876KYML,3.0,This palette was a decent price and I was look...,OK Palette!
2,2013-09-06,7806397051,A3G6XNM240RMWA,4.0,The texture of this concealer pallet is fantas...,great quality
3,2013-12-08,7806397051,A1PQFP6SAJ6D80,2.0,I really can't tell what exactly this thing is...,Do not work on my face
4,2013-10-19,7806397051,A38FVHZTNQ271F,3.0,"It was a little smaller than I expected, but t...",It's okay.

** Part 1:** Create a list of the top 200 most reviewed products.  
For every product, sum up all the reviews, sort in descending order, and truncate to 200 entries

In [132]:
review_counts = pd.DataFrame(df.groupby(['productid']).size()).sort_values(by=0, ascending=False)

In [133]:
top_200 = review_counts.head(200)

In [134]:
top_200

              0
productid
B004OHQR1Q  431
B0043OYFKU  403
B0069FDR96  391
B000ZMBSPE  389
B00150LT40  329
B003V265QW  328
B006L1DNWY  321
B008U1Q4DI  310
B007BLN17K  305
B000142FVW  302
B005BF1M10  282
B00639DLV2  265
B002MZ8BK2  264
B001JKTTVQ  263
B001MA0QY2  259
B0030O3VRW  247
B004D24818  247
B0063A432W  240
B005C1C02S  238
B000UVZU1S  236
B004DK0UDA  222
B00016XJ4M  214
B009FKNGRA  212
B009FKNGGQ  210
B00A76CPUA  205
B004Z40048  204
B000HRVC5I  203
B00AHF1GTM  202
B00AE0790U  199
B00538TSMU  196
...         ...
B00AE078YM  100
B0020122ZS  100
B006RFZ66K  100
B0039UTO3M  100
B00B33Y2JI   99
B001UREIFU   99
B00AE07CPM   99
B00AE07BMQ   99
B002TSA916   99
B00KD73PBQ   99
B00AE07BI0   99
B00021C1LI   98
B000FBNV1Y   98
B000L9YYTS   98
B007RTR8A2   98
B00KCTER3U   98
B005TI7L6O   98
B00AAIOP44   98
B007RTR9E2   98
B004DIUWAI   98
B00AE07CRA   98
B001ECQ5CA   98
B001ECQ4OY   97
B00AE07CTI   97
B00AE078TM   97
B0039UT9QE   97
B0098JU8TC   96
B002R23I76   96
B006K9OQSC   96
B006L2137U   96

[200 rows x 1 columns]

For every productid, create a cumulative total of reviews for each date there is a review. Dataframe date_tally, has each productid, and every date there was an added review, with a running tally of the total number of reviews up to that date

In [124]:
# count occurances of reviews for each date
date_counts = pd.DataFrame(df.groupby('productid').timestamp.value_counts())

#sort dates for each product
date_counts.sort_index(level='productid', inplace=True)

#rename count column from timestamp to date tally
date_counts.rename(columns={'timestamp':'date_tally'}, inplace=True)

date_tally = date_counts.groupby(level=[0]).cumsum()

In [7]:
df.timestamp[3]

Timestamp('2013-12-08 00:00:00')

In [121]:
#df.groupby(['productid', 'timestamp']).sum().groupby(level=[0]).cumsum()
df.groupby(['productid']).timestamp.value_counts().groupby(level=[0]).cumsum()
#pd.DataFrame(df.groupby('productid').timestamp.value_counts()).cumsum()

productid   timestamp
7806397051  2013-04-15     1
            2013-08-16     2
            2013-09-04     3
            2013-09-06     4
            2013-10-19     5
            2013-12-08     6
            2014-01-30     7
            2014-04-18     8
9759091062  2014-02-18     2
            2013-09-14     3
            2013-10-18     4
            2013-11-01     5
            2013-12-27     6
            2014-01-11     7
            2014-01-23     8
            2014-04-06     9
            2014-05-20    10
            2014-07-13    11
9788072216  2011-09-19     1
            2011-11-28     2
            2012-05-27     3
            2013-02-02     4
            2013-08-10     5
9790790961  2011-12-19     1
            2013-09-08     2
            2014-02-02     3
            2014-02-12     4
            2014-02-14     5
            2014-03-11     6
9790794231  2008-04-01     1
                          ..
B00L5KTZ0K  2014-07-04     5
            2014-07-06     7
            2014-07-13     9
            2014-07-02    10
            2014-07-10    11
            2014-07-14    12
            2014-07-15    13
            2014-07-16    14
            2014-07-22    15
B00L6Q3BH6  2014-04-24     1
            2014-05-08     2
            2014-05-16     3
            2014-05-24     4
            2014-07-08     5
B00LCEROA2  2014-07-03     3
            2014-07-02     5
            2014-07-12     7
            2014-07-08     8
            2014-07-13     9
B00LG63DOM  2014-07-18     3
            2014-07-20     5
            2014-07-21     7
            2014-07-23     9
            2014-07-19    10
B00LLPT4HI  2014-07-16     2
            2014-07-14     3
            2014-07-15     4
            2014-07-18     5
            2014-07-20     6
            2014-07-22     7
Name: timestamp, Length: 178707, dtype: int64

In [124]:
# count occurances of reviews for each date
date_counts = pd.DataFrame(df.groupby('productid').timestamp.value_counts())

#sort dates for each product
date_counts.sort_index(level='productid', inplace=True)

#rename count column from timestamp to date tally
date_counts.rename(columns={'timestamp':'date_tally'}, inplace=True)

date_tally = date_counts.groupby(level=[0]).cumsum()

In [123]:
date_counts.groupby(level=[0]).cumsum()

                       date_tally
productid  timestamp
7806397051 2013-04-15           1
           2013-08-16           2
           2013-09-04           3
           2013-09-06           4
           2013-10-19           5
           2013-12-08           6
           2014-01-30           7
           2014-04-18           8
9759091062 2013-09-14           1
           2013-10-18           2
           2013-11-01           3
           2013-12-27           4
           2014-01-11           5
           2014-01-23           6
           2014-02-18           8
           2014-04-06           9
           2014-05-20          10
           2014-07-13          11
9788072216 2011-09-19           1
           2011-11-28           2
           2012-05-27           3
           2013-02-02           4
           2013-08-10           5
9790790961 2011-12-19           1
           2013-09-08           2
           2014-02-02           3
           2014-02-12           4
           2014-02-14           5
           2014-03-11           6
9790794231 2008-04-01           1
...                           ...
B00L5KTZ0K 2014-07-04           3
           2014-07-06           5
           2014-07-10           6
           2014-07-12           9
           2014-07-13          11
           2014-07-14          12
           2014-07-15          13
           2014-07-16          14
           2014-07-22          15
B00L6Q3BH6 2014-04-24           1
           2014-05-08           2
           2014-05-16           3
           2014-05-24           4
           2014-07-08           5
B00LCEROA2 2014-07-02           2
           2014-07-03           5
           2014-07-08           6
           2014-07-12           8
           2014-07-13           9
B00LG63DOM 2014-07-18           3
           2014-07-19           4
           2014-07-20           6
           2014-07-21           8
           2014-07-23          10
B00LLPT4HI 2014-07-14           1
           2014-07-15           2
           2014-07-16           4
           2014-07-18           5
           2014-07-20           6
           2014-07-22           7

[178707 rows x 1 columns]

In [24]:
#sort dates for each product
date_counts.sort_index(level='productid', inplace=True)

In [74]:
#rename count column from timestamp to date tally
date_counts.rename(columns={'timestamp':'date_tally'}, inplace=True)

In [66]:
date_counts.loc['7806397051'].timestamp.value_counts()

1    8
Name: timestamp, dtype: int64

In [102]:
date_counts.head()

    productid  timestamp  date_tally
0  7806397051 2013-04-15           1
1  7806397051 2013-08-16           1
2  7806397051 2013-09-04           1
3  7806397051 2013-09-06           1
4  7806397051 2013-10-19           1

In [81]:
#reset index 
date_counts.reset_index(inplace=True)

In [87]:
tally = date_counts.set_index(['timestamp','productid']).unstack(level=1).copy()

In [90]:
tally.head()

           date_tally                                                         \
productid  7806397051 9759091062 9788072216 9790790961 9790794231 B00004TMFE
timestamp
2002-06-12        NaN        NaN        NaN        NaN        NaN        NaN
2002-06-16        NaN        NaN        NaN        NaN        NaN        NaN
2002-11-07        NaN        NaN        NaN        NaN        NaN        NaN
2003-05-11        NaN        NaN        NaN        NaN        NaN        NaN
2003-10-13        NaN        NaN        NaN        NaN        NaN        NaN

                                                          ...                 \
productid  B00004TUBL B00004TUBV B00004U9UY B00004U9V2    ...     B00L3K91OW
timestamp                                                 ...
2002-06-12        NaN        NaN        NaN        NaN    ...            NaN
2002-06-16        NaN        NaN        NaN        NaN    ...            NaN
2002-11-07        NaN        NaN        NaN        NaN    ...            NaN
2003-05-11        NaN        NaN        NaN        NaN    ...            NaN
2003-10-13        NaN        NaN        NaN        NaN    ...            NaN

                                                                              \
productid  B00L3LB0IG B00L3LBUGI B00L5BXG36 B00L5JHZJO B00L5KTZ0K B00L6Q3BH6
timestamp
2002-06-12        NaN        NaN        NaN        NaN        NaN        NaN
2002-06-16        NaN        NaN        NaN        NaN        NaN        NaN
2002-11-07        NaN        NaN        NaN        NaN        NaN        NaN
2003-05-11        NaN        NaN        NaN        NaN        NaN        NaN
2003-10-13        NaN        NaN        NaN        NaN        NaN        NaN


productid  B00LCEROA2 B00LG63DOM B00LLPT4HI
timestamp
2002-06-12        NaN        NaN        NaN
2002-06-16        NaN        NaN        NaN
2002-11-07        NaN        NaN        NaN
2003-05-11        NaN        NaN        NaN
2003-10-13        NaN        NaN        NaN

[5 rows x 12101 columns]

In [96]:
tally.columns = tally.columns.droplevel(0)

In [99]:
for x in tally.columns:
    tally[[x]].cumsum()

In [101]:
tally.head(100)

productid,7806397051,9759091062,9788072216,9790790961,9790794231,B00004TMFE,B00004TUBL,B00004TUBV,B00004U9UY,B00004U9V2,...,B00L3K91OW,B00L3LB0IG,B00L3LBUGI,B00L5BXG36,B00L5JHZJO,B00L5KTZ0K,B00L6Q3BH6,B00LCEROA2,B00LG63DOM,B00LLPT4HI
timestamp,,,,,,,,,,,,,,,,,,,,,
2002-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-06-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002-11-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-10-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-11-22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-01-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-02-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-03-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-04-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004-05-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-03-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-03-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-04-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-05-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-06-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
tally[['7806397051']].cumsum()

productid   7806397051
timestamp
2002-06-12         NaN
2002-06-16         NaN
2002-11-07         NaN
2003-05-11         NaN
2003-10-13         NaN
2003-11-22         NaN
2003-12-17         NaN
2003-12-29         NaN
2004-01-05         NaN
2004-01-08         NaN
2004-01-13         NaN
2004-01-25         NaN
2004-02-08         NaN
2004-02-13         NaN
2004-02-17         NaN
2004-02-27         NaN
2004-02-28         NaN
2004-03-01         NaN
2004-03-17         NaN
2004-04-20         NaN
2004-04-25         NaN
2004-04-28         NaN
2004-04-30         NaN
2004-05-01         NaN
2004-05-11         NaN
2004-05-12         NaN
2004-05-18         NaN
2004-05-20         NaN
2004-05-24         NaN
2004-05-25         NaN
...                ...
2014-06-24         NaN
2014-06-25         NaN
2014-06-26         NaN
2014-06-27         NaN
2014-06-28         NaN
2014-06-29         NaN
2014-06-30         NaN
2014-07-01         NaN
2014-07-02         NaN
2014-07-03         NaN
2014-07-04         NaN
2014-07-05         NaN
2014-07-06         NaN
2014-07-07         NaN
2014-07-08         NaN
2014-07-09         NaN
2014-07-10         NaN
2014-07-11         NaN
2014-07-12         NaN
2014-07-13         NaN
2014-07-14         NaN
2014-07-15         NaN
2014-07-16         NaN
2014-07-17         NaN
2014-07-18         NaN
2014-07-19         NaN
2014-07-20         NaN
2014-07-21         NaN
2014-07-22         NaN
2014-07-23         NaN

[2927 rows x 1 columns]

In [53]:
for x in date_counts:
    print (x)

timestamp

In [84]:
date_counts[date_counts['timestamp'].dt.year == 2013]

         productid  timestamp  date_tally
0       7806397051 2013-04-15           1
1       7806397051 2013-08-16           1
2       7806397051 2013-09-04           1
3       7806397051 2013-09-06           1
4       7806397051 2013-10-19           1
5       7806397051 2013-12-08           1
8       9759091062 2013-09-14           1
9       9759091062 2013-10-18           1
10      9759091062 2013-11-01           1
11      9759091062 2013-12-27           1
21      9788072216 2013-02-02           1
22      9788072216 2013-08-10           1
24      9790790961 2013-09-08           1
43      B00004TMFE 2013-01-07           1
44      B00004TMFE 2013-01-21           1
45      B00004TMFE 2013-04-12           1
46      B00004TMFE 2013-06-08           1
47      B00004TMFE 2013-07-14           1
48      B00004TMFE 2013-09-06           1
49      B00004TMFE 2013-09-13           1
50      B00004TMFE 2013-11-23           1
51      B00004TMFE 2013-12-03           1
64      B00004TUBL 2013-01-04           1
65      B00004TUBL 2013-03-07           1
66      B00004TUBL 2013-05-26           1
67      B00004TUBL 2013-07-15           1
68      B00004TUBL 2013-09-12           1
69      B00004TUBL 2013-10-23           1
70      B00004TUBL 2013-11-06           1
71      B00004TUBL 2013-11-27           1
...            ...        ...         ...
171016  B00GBQSS56 2013-11-21           1
171017  B00GBQSS56 2013-12-08           1
171132  B00GEG0FRM 2013-11-27           1
171138  B00GFBWWWC 2013-12-28           1
171209  B00GG0THQ6 2013-12-22           1
171280  B00GHNOQ54 2013-11-19           1
171281  B00GHNOQ54 2013-12-30           1
171289  B00GHODSES 2013-12-25           1
171944  B00GMMJKUQ 2013-12-09           1
171945  B00GMMJKUQ 2013-12-23           1
171946  B00GMMJKUQ 2013-12-25           1
171947  B00GMMJKUQ 2013-12-26           1
171948  B00GMMJKUQ 2013-12-29           1
171960  B00GMRJWPY 2013-12-11           1
172112  B00GNA9W4G 2013-12-25           1
172136  B00GNA9WG4 2013-12-30           1
172137  B00GNA9WG4 2013-12-31           1
172189  B00GOJMIWO 2013-12-21           1
172244  B00GPHK1PQ 2013-12-22           1
172245  B00GPHK1PQ 2013-12-25           1
172258  B00GPWYF94 2013-12-18           1
172418  B00GTAJB78 2013-12-14           2
172457  B00GTBZ85Q 2013-12-27           1
172993  B00GTC03OG 2013-12-25           1
172994  B00GTC03OG 2013-12-26           1
173067  B00GTC0DYQ 2013-12-31           1
173162  B00GTC0IY6 2013-12-26           1
173775  B00GYB17P6 2013-12-20           1
174059  B00GYN9A08 2013-12-16           1
174063  B00GZ18LL8 2013-12-27           1

[77020 rows x 3 columns]